.mainContainer{
  display: 'flex';
  background-color: rgba(220, 220, 219, 0.98); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* add a shadow effect */
  opacity: 0.5;
  background-image: url('wacode_background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.loginContainer{
  font-size: medium;
}

.signinContainer{
  padding-left: 100px;
  padding-right: 100px;
}

.backgroundContainer {

}