.mainContainer{
  display: 'flex';
  background-color: rgba(239, 201, 119, 0.8); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* add a shadow effect */
  opacity: 0.8;
}
.loginContainer{
  font-size: medium;
}

.signinContainer{
  padding-left: 100px;
  padding-right: 100px;
}

.backgroundContainer {
  background-image: url('wacode_background.png');
  background-size: 100% 100%;
}